.sidebar {
	padding: 10px;

	img {
		box-shadow: 0 1px 32px rgba(20, 23, 23, 0.12);
	}

	figcaption {
		margin-top: 5px;
		font-size: 40px;
		font-weight: 500;
		line-height: 1;

		small {
			font-size: 30px;
			font-weight: inherit;
		}
	}

	.main-menu {
		li {
			border-bottom: 1px solid #fff;
			padding: 5px 0;
			transition: .3s ease-out;

			a {
				@include text-link--large;
				transition: inherit;

				i {
					margin: 0 12px 0 18px;
				}
			}

		}
	}
}